In [1]:
raju = [56,90,34,34,56]

raju_dict = {
    'English':56,
    'hindi' :90,
    'maths' :34,
    'Chemistry' :34,
    'Evs' :56
}
print(raju_dict)

{'English': 56, 'hindi': 90, 'maths': 34, 'Chemistry': 34, 'Evs': 56}

In [2]:
company = {
    'emp001': {
        'name':'Assistant III',
        'salary': 32000,
    },
    'emp002':{
        'name': 'ranu singh',
        'destination': 'staff officer',
        'salary':89000
    },
    'total_emp': 2,
    'department':'Accounts',
    'vacancy' : ['clerk','manager','assistant I']
}

In [3]:
company['name']= 'Acme inc.'
print(company)

{'emp001': {'name': 'Assistant III', 'salary': 32000}, 'emp002': {'name': 'ranu singh', 'destination': 'staff officer', 'salary': 89000}, 'total_emp': 2, 'department': 'Accounts', 'vacancy': ['clerk', 'manager', 'assistant I'], 'name': 'Acme inc.'}

In [4]:
company['total_emp']=3
company['emp003'] ={
    'name' : 'ajay verma',
    'designation' : 'clerk',
    'salary' : 45000
}

In [7]:
company['emp003']

{'name': 'ajay verma', 'designation': 'clerk', 'salary': 45000}

In [8]:
company.get('website')

In [9]:
if 'website' in company:
    print('website exist in dict')

In [10]:
print(company.keys())
print(company.values())

dict_keys(['emp001', 'emp002', 'total_emp', 'department', 'vacancy', 'name', 'emp003'])
dict_values([{'name': 'Assistant III', 'salary': 32000}, {'name': 'ranu singh', 'destination': 'staff officer', 'salary': 89000}, 3, 'Accounts', ['clerk', 'manager', 'assistant I'], 'Acme inc.', {'name': 'ajay verma', 'designation': 'clerk', 'salary': 45000}])

In [11]:
print(company.items())

dict_items([('emp001', {'name': 'Assistant III', 'salary': 32000}), ('emp002', {'name': 'ranu singh', 'destination': 'staff officer', 'salary': 89000}), ('total_emp', 3), ('department', 'Accounts'), ('vacancy', ['clerk', 'manager', 'assistant I']), ('name', 'Acme inc.'), ('emp003', {'name': 'ajay verma', 'designation': 'clerk', 'salary': 45000})])

In [13]:
for i in company:
    print(company[i])

{'name': 'Assistant III', 'salary': 32000}
{'name': 'ranu singh', 'destination': 'staff officer', 'salary': 89000}
3
Accounts
['clerk', 'manager', 'assistant I']
Acme inc.
{'name': 'ajay verma', 'designation': 'clerk', 'salary': 45000}

In [14]:
for k, v in company.items():
    print(k,v)

emp001 {'name': 'Assistant III', 'salary': 32000}
emp002 {'name': 'ranu singh', 'destination': 'staff officer', 'salary': 89000}
total_emp 3
department Accounts
vacancy ['clerk', 'manager', 'assistant I']
name Acme inc.
emp003 {'name': 'ajay verma', 'designation': 'clerk', 'salary': 45000}

In [15]:
for k, v in company.items():
    if isinstance(v,dict):
        print(k)
        for key, value in v.items():
            print("--->",key,value)
    else:
        print(k,v)

emp001
---> name Assistant III
---> salary 32000
emp002
---> name ranu singh
---> destination staff officer
---> salary 89000
total_emp 3
department Accounts
vacancy ['clerk', 'manager', 'assistant I']
name Acme inc.
emp003
---> name ajay verma
---> designation clerk
---> salary 45000

WAP TO CREATE A DICTIONARY WHICH TAKES USER INPUTS AND STORES THE NAME OF ITEM AND IT'S PRICE
The user can input unlimited inputs.

In [ ]:
dict = {
}