FOR

for temp_var in iterable:
   statement 1
   ....
   statement 2

In [4]:
nums = [1,23,5,6,3,6,21,6,6] #list of numbers
for nums in nums:
    print(nums ** 2)

1
529
25
36
9
36
441
36
36

- enumurate
- zip

In [5]:
names = ['john','jane','jack','jill']
for name in enumerate(names):
    print(name)

(0, 'john')
(1, 'jane')
(2, 'jack')
(3, 'jill')

In [6]:
names = ['john','jane','jack','jill']
for idx, name in enumerate(names):
    print(name, idx)

john 0
jane 1
jack 2
jill 3

In [7]:
x=[2,4,6,8,10]
y=[1,3,5,7,9]
z=[3,6,9,12,15]

for i, j, k in zip(x,y,z):
    print(i*j + k)

5
18
39
68
105

In [13]:
movies = ['interstellear','the martian','gravity','appolo 13']
rating = [1,2,3,4]
for name, star in zip(movies, rating):
    print (f'{name:20}{star}ðŸŒŸ')

interstellear       1ðŸŒŸ
the martian         2ðŸŒŸ
gravity             3ðŸŒŸ
appolo 13           4ðŸŒŸ